.example {
	font-family: Arial;
	font-size: 12px;
}

.status {
	width: 48px;
	height: 135px;
	padding: 10px;
	overflow-y: auto;
}

.statusline {
	font-size: 10px;
	background-color: #E0E0E0;
	margin: 3px 0;
	padding: 2px;
}

.metr_input {
   width: 40px;
   margin-right: 10px;
   text-align: center;
}

#count {
	width: 50px;
	display: inline-block;
	text-align: right;
}