.example {
	font-family: Arial;
	font-size: 12px;
}

.status {
    width: 120px;
    height: 145px;
    padding: 10px;
    overflow-y: auto;
    margin-left: -267px;
    margin-top: -51px;
}

.statusline {
	font-size: 10px;
	background-color: #E0E0E0;
	margin: 3px 0;
	padding: 2px;
}

.metr_input {
   width: 40px;
   margin-right: 10px;
   text-align: center;
}

#count {
	width: 50px;
	display: inline-block;
	text-align: right;
}

#inputsDiv {
    margin-right: 300px;
}
#metronome_container {
width:200px;
height:200px;
-webkit-transform: translate(-0px,0px);
transform: translate(-0px,0px);
position: relative;
top: 0px;
left: 0px;

}