.example {
	font-family: Arial;
	font-size: 12px;
}

.status {
    width: 120px;
    height: 76px;
    padding: 10px;
    overflow-y: auto;
    margin-right: -143px;
    margin-top: --5px;
}

.statusline {
	font-size: 10px;
	background-color: #E0E0E0;
	margin: 3px 0;
	padding: 2px;
}

.metr_input {
   width: 40px;
   margin-right: 10px;
   text-align: center;
}

#count {
	width: 50px;
	display: inline-block;
	text-align: right;
}

#inputsDiv {
    padding: 20px;
}
#metronome_container {
    width: 320px;
    height: 159px;
    padding: 10px;
    overflow-y: auto;
    margin-left: -400px;
    margin-top: -80px;

}